/**
 * @name Chillax
 * @author Chillax Squad
 * @authorLink https://github.com/warrayquipsome/Chillax#author
 * @version 0.6
 * @invite DrfX6286kF
 * @description stress doesn't really goes with your fit, try out chillax you might not regret it.
 * @source https://github.com/warrayquipsome/Chillax
 * @donate https://www.paypal.me/wqqt9
*/

/*
     ⸙  ────     ────     ───── ❝ 𝐚𝐥𝐥 𝐫𝐢𝐠𝐡𝐭 𝐡𝐞𝐫𝐞 ❞ ─────    ────     ────  ⸙
  ╭─ ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ -ˋˏ ༻🂡༺ ˎˊ- ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ ─╮
          █████╗ ██╗  ██╗██╗██╗     ██╗      █████╗ ██╗  ██╗       
         ██╔══██╗██║  ██║██║██║     ██║     ██╔══██╗╚██╗██╔╝       
  ||     ██║  ╚═╝███████║██║██║     ██║     ███████║ ╚███╔╝      ||
         ██║  ██╗██╔══██║██║██║     ██║     ██╔══██║ ██╔██╗        
         ╚█████╔╝██║  ██║██║███████╗███████╗██║  ██║██╔╝╚██╗       
          ╚════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝       
  ╰─ ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ -ˋˏ ༻-༺ ˎˊ- ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ ─╯

*/

/*chillax*/
@import url('https://warrayquipsome.github.io/Chillax/chillax.css');

/*removable addons*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");

/*additional addons*/ /*(remove the both * to use)*/

/*@import url("https://warrayquipsome.github.io/Chillax/Addons/SimpleLessLag.css");*/




/*Chillax Roots*/
/*window*/ /*dark mode*/
:root.theme-dark {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: rgba(45, 29, 56, 0.582);
  --window-blur: 5px;
  --window-border-radius: 15px;
  --sidebar-colour: rgba(20, 11, 26, 0.274);
  
}
/*window*/ /*light mode*/
:root.theme-light {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: rgba(203, 148, 240, 0.623);
  --window-blur: 2px;
  --window-border-radius: 8px;
  --sidebar-colour: rgba(196, 104, 233, 0.774);
}

/*Dark theme*/
.theme-dark .panels-3wFtMD {
  background: #3a2b55 !important;
}
/*chatbox recolour*/
.theme-dark .input-2g-os5:hover,
.theme-dark .scrollableContainer-15eg7h:hover {
  background-color: #563d81dc;

}
.theme-dark .input-2g-os5:focus-within,
.theme-dark .scrollableContainer-15eg7h:focus-within {
  background-color: rgb(76, 50, 88);
  box-shadow: rgb(255, 255, 255);
}

/*------------------------------------------------------------------------------*/

/*Light theme*/
.theme-light .panels-3wFtMD {
  background: #a479ee91 !important;
  
}
/*chatbox recolour*/
.theme-light .input-2g-os5:hover,
.theme-light .scrollableContainer-15eg7h:hover {
  background-color: #b995f8d8;
}
.theme-light .input-2g-os5:focus-within,
.theme-light .scrollableContainer-15eg7h:focus-within {
  background-color: #ab7ff7dc;
  box-shadow:rgb(255, 255, 255);
}


  



.theme-dark{
... (135 lines left), thank you all.*/
